.CartContainer {
    display: flex;
    column-gap: 50px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    min-height: 60vh;
    flex-wrap: wrap;
}

.CartItems {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.CartPriceSummary {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.384);
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    position: sticky;
    top: 100px;
}