.profileBody {
    padding: 2vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80vw;
    min-height: 80vh;
    column-gap: 4vmax;
}

.leftSectionProfile {
    display: flex;
    flex-direction: column;
    row-gap: 1vmax;
    min-width: 25%;
    flex-shrink: 0;
    /* align-items: center; */
    position: sticky;
    top: 25%;
}

.leftSecionWelcome {
    display: flex;
    column-gap: 1vmax;
    align-items: center;
    padding: 1vmax;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: aquamarine;
}

.leftSectionbottom {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    font-weight: 500;
    /* row-gap: 1vmax; */
    text-align: center;
    background-color: aquamarine;
    padding: 1vmax;
    border-radius: 5px;
}

.sectionTitleProfile {
    font-weight: 500;
    margin: 1vmax 0;
}

.rightSectionProfile {
    width: 100%;
    position: relative;
}

.leftSectionbottomItem {
    cursor: pointer;
    transition: all 0.3s;
    width: 80%;
    text-align: center;
    padding: 1vmax;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1vmax;
}

.leftSectionbottomItem:hover {
    /* transform: translateX(1vmax); */
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    background-color: rgba(33, 128, 206, 0.705);
}

.currentSectionTitleProfile {
    color: rgba(0, 0, 0, 0.473);
    cursor: default;
}

.currentSectionTitleProfile:hover {
    transform: none;
    text-shadow: none;
    background-color: transparent;
}

.rightProfileSection {
    position: static;
}