.adminPanelBox {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 100%
}

.sideBarAdmin {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    font-weight: 600;
    min-width: 250px;
    row-gap: 1vmax;
    align-items: center;
    width: 20%;
    padding-top: 2vmax;
    min-height: 100vh;
    background: rgb(10, 16, 73);
    color: white;
    /* height: 100vh; */
}