.SingleCategoryMain {
    display: flex;
    padding: 10px 20px;
    width: 200px;
    height: 100px;
    background-color: rgb(219, 87, 83);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.3s;
}

.SingleCategoryMain:hover {
    transform: scale(0.9);
    background-color: rgb(236, 157, 155);
}

.categoryName {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.categoryLogo {
    height: 30px;
}

.activeCategory {
    background-color: rgba(66, 55, 219, 0.534);
}

@media only screen and (max-width: 600px) {
    .SingleCategoryMain {
        /* width: 6rem; */
        height: 3rem;
        padding: 0;
    }
    .categoryName {
        font-size: 0.9rem;
    }
    .categoryLogo {
        display: none;
    }
}