.footer {
    background: rgb(19, 44, 60);
    background: linear-gradient(194deg, rgba(19, 44, 60, 1) 39%, rgb(11, 63, 66) 100%);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}