    .authorList {
        margin-right: 40px;
        margin-left: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 20px;
        /* overflow-y: scroll; */
    }